body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 920px;
  margin: auto;
}

.nav-item {
  padding: 0px 10px;
  background:lightskyblue;
}

.centre-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centre-text {
  text-align: center;
  margin: 0 auto;
  width: 800px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.centre-details {
  text-align: center;
}

#details {
  background: red;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}